@font-face {
font-family: 'courier';
src: url('../font/Courier_New.ttf') format('truetype');
}

@font-face{
font-family: 'helvetica';
src: url('../font/HelveticaNeueLTStd-Md.otf') fotmat('opentype');
}

@font-face{
font-family: 'baskerville';
src: url('../font/Baskerville.ttc') fotmat('truetype');
}

@font-face{
font-family: 'hiragino-w3';
src: url('../font/hiragino-W3.ttc') fotmat('truetype');
}
@font-face{
font-family: 'hiragino-w5';
src: url('../font/hiragino-W5.ttc') fotmat('truetype');
}


html{
    height: 100%;
}


body{
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
}


#wrapper{
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


#header{
    width: auto;
    padding:  20px 0 10px;
    border-bottom: solid 2px #f5f5f5;
}

.titl{
    display: block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0 0;
}

.logo{
    width: 600px;
}

#nav{
    text-align: center;
    padding: 0;
}

.menu-pc:hover {color:#cdcdcd;}

ul{
   padding: 0;
}

li{
    list-style-type: none;
    display: inline;
    padding: 0 10px 0 15px;
    letter-spacing: 2px;
}


#contents{
    width: auto;
    margin: auto;
}

.pg-titl{
    text-align: right;
    font-family: 'helvetica';
    width: 1000px;
    margin: 50px auto 0;
}

.text-box{
    width: auto;
    margin: 0 auto 40px;
}

.profile{
    margin: auto;
    padding: 20px 0 30px;
}
.profileimg{
    width: 200px;
    display: block;
    margin: auto;
    border-radius: 200px;
    border: solid 2px #f0f0f0;
}

.text{
    font-family: 'hiragino-w3';
    font-size: 100%;
    padding: 0 0 20px;
}

.etext{
    font-family: 'hiragino-w3';
    font-size: 110%;
}

.etitl{
    font-size: 105%;
}

h5{
    font-size: 105%;
}

#footer{
    width: 100%;
    margin: auto auto 0;
    padding: 0 0 10px;
    border-top: solid 2px #f5f5f5;
    font-size: 80%;
}

.fr{
    text-align: center;
    vertical-align: middle;
    font-family: 'courier';
    
}


a{
    text-decoration: none;
    color: black;
    font-family: 'helvetica';
    font-size: 120%;
    text-align: center;
    vertical-align: middle;
}

/* ここからスマホ用スタイル */

@media screen and ( max-width:479px )
{
    
#ham-menu {
    background-color: #fff; /*メニュー背景色*/
    opacity: 0.9;
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px; /*メニュー内左右上下余白*/
    position: fixed;
    right: -250px; /*メニュー横幅 width と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 250px; /*メニュー横幅*/
    z-index: 1000;
}

#menu-background {
    background-color: #333; /*黒背景*/
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 100%;
    z-index: -1;
}

#menu-icon {
    border-radius: 0 0 0 10px; /*左下角丸*/
    color: #333; /*アイコン（フォント）色*/
    cursor: pointer;
    display: block;
    font-size: 50px; /*アイコン（フォント）サイズ*/
    height: 50px; /*アイコン縦高さ*/
    line-height: 50px; /*縦位置中央化*/
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px; /*アイコン横幅*/
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    z-index: 1000;
}

#menu-cb {
    display: none; /*チェックボックス本体は消しておく*/
}

#menu-cb:checked ~ #ham-menu,
#menu-cb:checked ~ #menu-icon {
    transform: translate(-250px); /*メニュー本体横幅 width と合わせる*/
}

#menu-cb:checked ~ #menu-background {
    opacity: 0.5;
    z-index: 999;
}
    
#nav{
     display: none;
} 
    
    html{
        height: 100%;
    }
    
    body{
        box-sizing: border-box;
        height: 100vh;
        margin: 0;
    }
    
    #wrapper{
        
    }
    
    #header{
        padding: 10px 0;
        border-bottom: solid 2px #f5f5f5;
    }
    
    .menu{
        margin: 0 0 20px 35px;
    }
    
    .in-menu{
        list-style-type: square;
    }
    
    ul{
        
    }
    
    li{
        display: list-item;
        margin: 0 0 10px;
    }
    
    li+ li{
        border-left: none;
    }
    
    .titl{
        text-align: left;
        padding: 5px 0 0 10px;
    }
    
    .logo{
        width: 300px;
    }
    
    .pg-titl{
        text-align: right;
        width: 95%;
        margin: 5px 0 0;
        
    }
    
    #contents{
        width: 300px;
    }
    
    .profileimg{
        width: 50%;
    }
    
    h5{
        text-align: center;
    }
    
   .ham-a{
        color: black;
    }
    
    
    
    
    
}


/* ハンバーガーメニュー非表示 */

@media screen and (min-width:480px) {
    
#ham-menu {
    display:none;
    
}
    
    #menu-cb{
        display:none;
    }
    
    #menu-icon{
        display:none;
    }
    
    #menu-background{
        display:none;
    }
