/* fonts */

@font-face {
font-family: 'din';
src: url('../font/din.ttf') format('truetype');
}

@font-face {
font-family: 'courier';
src: url('../font/courier.ttf') format('truetype');
}




/* style */

html{
    height: 100%;
}

body{
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    font-size:100%;
}

p{
    font-size: 0.875em;
    font-family: 'din';
    margin: 1.875em 1.25em 0 1.25em;
    line-height: 1.6em;
}

h4{
    font-size: 1.25em;
    font-family: 'din';
    margin: 0 0 0 1.25em;
}

a{
    font-size: 0.875em;
    font-family: 'din';
    text-decoration: none;
    color: black;
}

ul{
    padding: 0;
    margin: 1.25em 0 0 1.25em;
}

li{
    list-style-type: none;
    margin: 0 0 0.313em 0;
}

li > a:hover{
    color: #ccc;
}

img{
    width: 100%;
}




/* id */

#wrapper{
    min-height: 100vh;
    position: relative;
    margin: 0 auto 0;
    padding-bottom: 4.75em;
    box-sizing: border-box;
}

#header{
    position: fixed;
}

#content{
    padding-top: 4.75em;
}

#footer{
    margin: 3.75em 0 3.75em 0;
    position: absolute;
    bottom: 0;
}

#footer > p{
    margin: 0 0 0 1.25em;
}




/* class */

.header-logo-img{
    width: 8.125em;
    vertical-align: middle;
    margin: 1.875em 0 1.875em 1.25em;
}

.img-con{
    margin: 2.5em 0;
}

.jump-button{
    display: block;
    margin: 0 1.25em 0 1.25em;
    text-align: right;
    font-size: 0.625em;
    text-decoration-line: underline;
    color: #b58b5e;
}

.comment{
    font-family: 'courier';
    margin: 0.625em 0 0 1.25em;
}




/* mobile */

@media screen and ( max-width:479px )
{
    
    body{
        height: 100hv;
        min-width:  100hv;
    }
    
}