

html{
    height: 100%;
}

body{
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    font-size:100%;
    background-color: #DEDEDE;
}

a{
    text-decoration: none;
}

p{
    font-family: neo-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* id */
#wrapper{
    min-height: 100vh;
    position: relative;
    margin: 0 auto 0;
    box-sizing: border-box;
}

#header{
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: #e9e9e9;
    border-top: solid 2px #ffffff;
    border-bottom: solid 2px #bfbfbf;
}

#content{
    padding-top: 68px;
    width: 100%;
}

#footer{
    margin: 9px 0 40px 16px;
    width: 100%;
    position: absolute;
    bottom: 0;
}


/* class */

.header-button{
    display: block;
}

.header-logo{
    height: 45px;
    margin: 9px 0 9px 16px;
}

.btn{
    display: block;
    list-style-type: none;
    height: 72px;
    background-color: #e9e9e9;
    border-top: solid 2px #ffffff;
    border-bottom: solid 2px #bfbfbf;
}

.btn-p{
    margin: 1.5625em 1em;
    font-size: 1em;
    font-family: neo-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #646464;
}

.btn-p-a{
    margin: 1.5625em 1em;
    font-size: 1em;
    font-family: neo-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #9a9a9a;
}

.btn-p:hover{
    color: #bfbfbf;
}

.btn-p-a:hover{
    color: #bfbfbf;
}

.footer-p{
    font-size: 0.75em;
    font-family: rockwell,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7e7e7e;
}


/* mobile */

@media screen and ( max-width:479px )
{
    
    body{
        height: 100hv;
        min-width:  100hv;
    }
    
}