

html{
    height: 100vh;
}

body{
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    font-size: 100%;
    background-color: #DEDEDE;
}

a{
    text-decoration: none;
}

p{
    font-size: 0.875em;
}

h1{
    margin: 1.125em 1em;
    font-size: 1em;
    font-family: neo-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #646464;
}


/* id */
#wrapper{
    min-height: 100vh;
    position: relative;
    margin: 0 auto 0;
    box-sizing: border-box;
}

#header{
    position: fixed;
    width: 100vw;
    height: 4em;
    background-color: #e9e9e9;
    border-top: solid 0.125em #ffffff;
    border-bottom: solid 0.125em #bfbfbf;
}

#content{
    padding-top: 4.25em;
}

#footer{
    padding: 2.5em 0;
    margin: 0.5625em 0 2.5em 1em;
    bottom: 0;
}


/* class */

.header-button{
    display: block;
}

.header-logo{
    height: 2.8125em;
    margin: 0.5625em 0 0.5625em 1em;
}

.btn{
    display: block;
    list-style-type: none;
    height: 3.75em;
    background-color: #e9e9e9;
    border-top: solid 0.125em #ffffff;
    border-bottom: solid 0.125em #bfbfbf;
}

.btn-p{
    margin: 1.125em 1em;
    font-size: 1em;
    font-family: neo-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #646464;
}

.btn-p-a{
    margin: 1.125em 1em;
    font-size: 1em;
    font-family: neo-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #9a9a9a;
}

.btn-p:hover{
    color: #bfbfbf;
}

.btn-p-a:hover{
    color: #bfbfbf;
}

.footer-p{
    font-size: 0.75em;
    font-family: rockwell,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7e7e7e;
}

.box{
    background-color: #e9e9e9;
    border-top: solid 0.125em #ffffff;
    border-bottom: solid 0.125em #bfbfbf;
}

.box-img{
    margin: 2.5em 0 0 0;
    border-top: solid 0.125em #bfbfbf;
    border-bottom: solid 0.125em #ffffff;
}

.box-img > img{
    max-width: 100vw;
    min-width: 100vw;
    display: block;
}
 
.title{
    margin: 0.5em 0 0 1em;
    font-family: neo-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #646464;
}

.text{
    margin: 2.4375em 0 2.5em 1em;
    font-family: dinosaur, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #646464;
}

.tools{
    margin: 0 0 2.5em 1em;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #9A9A9A;
}

.category{
    height: 3.75em;
    margin: 0;
    background-color: #e9e9e9;
    border-top: solid 0.125em #ffffff;
    border-bottom: solid 0.125em #bfbfbf;
}


/* mobile */

@media screen and ( max-width:479px )
{
    
    body{
    }
    
}