@font-face {
font-family: 'Courier';
src: url('../font/Courier_New_Bold.ttf') format('truetype');
}

body{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 0 50px 0;
}

header{
	margin: 20px 0 15px;
    padding: 10px 0;
	overflow: hidden;
}

nav {
	margin-top: 20px;
    text-align: center;
    font-size: 105%;
}

nav ul{
    padding: 0;
    margin: 0;
    
}

nav li{
		display: inline;
		margin:0 15px;
	}
	nav a{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
		color: black;
		text-decoration: none;
	}


h3 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
    width: 1000px;
    height: 650px;
    margin: 0 auto;
    
}

.image{
    width: 255px;
    height: 255px;
    margin: auto;
    background-color: darkgrey;
}

a.logo{
    display: block;
    border-bottom: solid 2px #f0f0f0;
}

.logoimg{
    display: block;
    margin: 0 auto 15px;
}

#footer {
    width: 1000px;
    margin: 100px auto 50px;
    padding-top: 20px;
    border-top: solid 2px #f0f0f0;
}

div #footer p{
    font-family: 'Cutive Mono', monospace;
    font-size: 12px;
    text-align: center;
    margin: 0;
}

nav ul li a.top{
    color: 	 #c0c6c9;
}