body{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#warapper {
    width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
}

header{
	margin: 20px 0 15px;
    padding: 10px 0;
	overflow: hidden;
}

a.logo{
    display: block;
    border-bottom: solid 2px #f0f0f0;
}

.logoimg{
    display: block;
    margin: 0 auto 15px;
}


nav {
	margin-top: 20px;
    text-align: center;
    font-size: 105%;
}

nav ul{
    padding: 0;
    margin: 0;
    
}

nav li{
		display: inline;
		margin:0 15px;
	}
	nav a{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
		color: #2a2a2a;
		text-decoration: none;
	}

anav{
    display: block;
    margin-top: 40px;
    text-align: center;
}

anav ali{
        display: inline;
		margin:0 8px;
        }
        anav a{
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 1px;
		    color: #808080;
		    text-decoration: none;
            }

        ap{
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1px;
            color: #808080;
            }

#footer {
    width: 1000px;
    margin: 100px auto 50px;
    padding-top: 20px;
    border-top: solid 2px #f0f0f0;
}

div #footer fp{
    font-family: 'Cutive Mono', monospace;
    font-size: 12px;
    display: block;
    text-align: center;
    margin: 0;
}

#contents{
    width: 1000px;
    margin: 0 auto;
}

    .titl{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #2a2a2a;
        text-align: right;
        margin: 0 0 100px 0;
        }

    .cbox{
        width: 1000px;
        margin: 0 auto;
    }

        .inbox{
            width: 1000px;
        }

        .stext{
            font-family: 'Cutive Mono', monospace;
            font-size: 90%;
            text-align: left;
            color: #2a2a2a;
            margin: 10px 0;
        }

        .image{
            display: block;
            width: 1000px;
            margin-top: 100px;
        }


p {
    font-size: 100px;
    color: darkgrey;
    text-align: center;
}

nav ul li a.work{
    color: 	 #c0c6c9;
}

.poster{
    color: #c0c6c9;
}